body {
    font-family: 'Open Sans', 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    overflow-y:auto;
}
//color: #2c3e50;
*{
    box-sizing:border-box;
}
